:root {
  --color-white: rgba(255 255 255 / 100%);
  --color-white-transparent: rgba(255 255 255 / 90%);
  --color-yellow-surron: rgba(249 224 0 / 100%);
  --color-yellow-surron-transparent: rgba(249 224 0 / 30%);
  --color-black: rgba(0 0 0 / 100%);
  --color-dark-gray: rgba(51 51 51 / 100%);
  --transition: 0.3s ease;
}

.header {
  position: sticky;
  z-index: 888;
  top: 0;
  left: 0;

  width: 100%;
  height: 56px;

  background-color: var(--color-white-transparent);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.link {
  display: block;

  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);

  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  line-height: 1;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  text-decoration: none;

  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-yellow-surron-transparent);
  }

  [data-mantine-color-scheme] &[data-active='true'] {
    background-color: var(--color-yellow-surron);
  }
}

.link-label {
  margin-right: 5px;
}

.logo {
  display: inline-block;
  object-fit: contain;
}

[data-active='true'] {
  pointer-events: none;
  background-color: aqua;
}

.fullscreen-menu {
  min-height: calc(100dvh - 76px);

  & .link,
  & .logout-button {
    width: 100%;
    text-align: center;
  }
}

.header .logout-button,
.fullscreen-menu .logout-button {
  height: 32px;
  padding: 8px 12px;

  font-size: var(--mantine-font-size-sm);
  line-height: 1;
  color: var(--color-white);

  background-color: var(--color-black);

  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-dark-gray);
  }
}
