:root {
  --color-white: rgba(255 255 255 / 100%);
  --color-white-transparent: rgba(255 255 255 / 50%);
  --color-yellow-surron: rgba(249 224 0 / 100%);
  --color-yellow-surron-darker: #d4b300;
  --color-yellow-surron-transparent: rgba(249 224 0 / 30%);
  --color-black: rgba(0 0 0 / 100%);
  --color-dark-gray: rgba(51 51 51 / 100%);
  --transition: 0.3s ease;
}

.header {
  position: fixed;
  z-index: 88;
  top: 0;
  left: 0;

  width: 100%;
  height: 56px;
  border-bottom: 1px solid #f7f7f7;

  background-color: var(--color-white-transparent);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.button,
.link {
  display: block;

  padding: 8px 12px;

  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-dark-0));
  text-decoration: none;

  transition: var(--transition);
}

.link {
  position: relative;

  display: inline-block;

  padding: 6px 12px 8px;

  line-height: 1.25;

  transition: all 0.35s cubic-bezier(0.16, 1, 0.3, 1);

  /* Анимированное подчёркивание */
  &::after {
    content: '';

    position: absolute;
    bottom: 4px;
    left: 12px;
    transform-origin: bottom;
    transform: scaleY(0) translateY(6px);

    width: calc(100% - 24px);
    height: 1px;

    opacity: 0;
    background: var(--color-yellow-surron-darker);

    transition:
      transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
      opacity var(--transition);
  }

  /* Ховер-эффект */
  &:hover {
    color: var(--color-yellow-surron-darker);

    &::after {
      transform: scaleY(1.5) translateY(0);
      opacity: 1;
    }
  }

  /* Активное состояние */
  &[data-active='true'] {
    font-weight: 600;
    color: var(--color-yellow-surron-darker);

    &::after {
      transform: scaleY(2) translateY(0);
      opacity: 1;
      background: linear-gradient(
        90deg,
        transparent 10%,
        #d4b300 50%,
        transparent 90%
      );
      box-shadow: 0 1px 4px rgb(212 179 0 / 30%);
    }
  }

  /* Клик-эффект */
  &:active {
    transform: translateY(1px);
  }
}

.button {
  border-radius: var(--mantine-radius-sm);
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-yellow-surron-transparent);
  }

  [data-mantine-color-scheme] &[data-active='true'] {
    background-color: var(--color-yellow-surron);
  }

  /* Убрать черную границу при фокусе */
  &:focus {
    outline: none;
  }

  /* Для доступности */
  &:focus-visible {
    outline: 1px solid transparent;
    outline-offset: 1px;
  }
}

.logo {
  color: inherit;
  text-decoration: none;

  .logo-img {
    display: inline-block;
    object-fit: contain;
  }
}

.fullscreen-menu {
  min-height: calc(100dvh - 76px);
}

.header .logout-button,
.fullscreen-menu .logout-button {
  height: 40px;
  padding: 8px 12px;

  font-size: var(--mantine-font-size-md);
  line-height: 1;
  color: var(--color-white);

  background-color: var(--color-black);

  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-dark-gray);
  }
}

.logo-link {
  color: var(--mantine-color-dark);
  text-decoration: none;
}
