.header {
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;

  width: 100%;
  height: 56px;
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  background-color: var(--mantine-color-body);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.link {
  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  display: block;

  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);

  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  line-height: 1;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  text-decoration: none;
}

.link-label {
  margin-right: 5px;
}

.logo {
  width: 35px;
}
