.carousel {
  position: relative;

  &Controls {
    opacity: 0;
    transition: opacity 300ms ease;
  }

  &:hover {
    .carousel-controls {
      opacity: 1;
    }
  }

  &Control {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 0;

    color: var(--mantine-color-gray-7);

    background: rgb(255 255 255 / 80%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

    &:hover {
      opacity: 1;
      background: var(--mantine-color-white);
    }

    &[data-inactive] {
      cursor: default;
      opacity: 0;
    }
  }
}
